<h1>Listing user_entries</h1>

<table>
  <tr>
    <th>Pairs</th>
    <th>Chain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_entries.each do |user_entry| %>
  <tr>
    <td><%= user_entry.pairs %></td>
    <td><%= user_entry.chain_id %></td>
    <td><%= link_to 'Show', user_entry %></td>
    <td><%= link_to 'Edit', edit_user_entry_path(user_entry) %></td>
    <td><%= link_to 'Destroy', user_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User entry', new_user_entry_path %>
