<p id="notice"><%= notice %></p>

<p>
  <b>Mapping:</b>
  <%= @user_entry.mapping %>
</p>

<p>
  <b>Entry:</b>
  <%= @user_entry.entry %>
</p>


<%= link_to 'Edit', edit_user_entry_path(@user_entry) %> |
<%= link_to 'Back', user_entries_path %>
