<h1>Listing iterative_chains</h1>

<table>
  <tr>
    <th>Chain</th>
    <th>Num users</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @iterative_chains.each do |iterative_chain| %>
  <tr>
    <td><%= iterative_chain.chain %></td>
    <td><%= iterative_chain.num_users %></td>
    <td><%= link_to 'Show', iterative_chain %></td>
    <td><%= link_to 'Edit', edit_iterative_chain_path(iterative_chain) %></td>
    <td><%= link_to 'Destroy', iterative_chain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Iterative chain', new_iterative_chain_path %>
