<p id="notice"><%= notice %></p>

<p>
  <b>Chain:</b>
  <%= @iterative_chain.chain %>
</p>

<p>
  <b>Num users:</b>
  <%= @iterative_chain.num_users %>
</p>


<%= link_to 'Edit', edit_iterative_chain_path(@iterative_chain) %> |
<%= link_to 'Back', iterative_chains_path %>
